{%  extends "shop/basic.html" %}
{% load static %}
{% block title %}Single Product Page{% endblock %}
{% block head %}{% endblock %}
{% block body %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">

            <div class="col-lg-6">
                <div class="shadow p-3 mb-5 bg-white rounded">
                <div style="height:450px">
                        <img  class="img-fluid" style="height:448.50px;width:538px" src="{{pd.product_image.url}}" alt="item logo">
                </div>
            </div></div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{pd.name}}</h3>
                    <h2>Rs. {{pd.price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : {{pd.category}}</a></li>
                 
						<li><a href="#"><span>Availibility</span> : <span style="color:green">In Stock</span></a></li>			
                        {% comment %} {% else %}
						<li><a href="#"><span>Availibility</span> : <span style="color:gray">Out Of Stock</span></a></li>
					{% endif %} {% endcomment %}
                    </ul>
                    <p>{{pd.description}}</p>
                    <form method="post">{% csrf_token %}
                    <div class="product_count">
                        <label>Quantity:</label>

                        <input type="text" name="qty" id="sst" maxlength="5" value="1"  name="qty" title="Quantity:"
                               class="input-text qty">

                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst <{{pd.quantity}}) result.value++;return false;"
                                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                    <div class="card_area d-flex align-items-center">
                         <button  type="button" data-product = "{{pd.id}}" data-action = "add" class="primary-btn update-cart">Add to Cart</button>
                        
                             </div></form>
                </div>
            </div>
        </div>
    </div>
</div>
                    <!-- Start related-product Area -->
                    <section class="related-product-area section_gap_bottom">
                        <div class="container">
                       
                            <div class="row justify-content-center">
                                <div class="col-lg-6 text-center">
                                    <div class="section-title">
                                        <h1>Related Products</h1>
                                        <p>{{pd.description}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        {% for cat in related_product %}
                                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                                            <div class="single-related-product d-flex">
                                                <a href="{% url 'product' cat.id  %}">
                                                <img src="{{cat.product_image.url}}" alt="" style="height:100px;width:100px;"></a>
                                                <div class="desc">
                                                    <a href="#" class="title">{{cat.name}}</a>
                                                    <div class="price">
                                                        <h6>Rs.{{cat.price}}.00</h6>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                <div class="col-lg-3">
                                    <div class="ctg-right">
                                        <a href="#" target="_blank">
                                            <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End related-product Area -->
                   
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    var user = '{{request.user}}';

    function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');







</script>
{% endblock %}